<!DOCTYPE html>
<html>
<head>
  <title>Concerts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<% if logged_in? %>
  <%= @current_user.username %>
  <%= button_to "Log out", session_url(current_session), method: :delete %>
<% end%>
</header>
<%= yield %>

</body>
</html>
