<!DOCTYPE html>
<html>
<head>
  <title>Concerts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<% if logged_in? %>
  <%= @current_user.username %>
  <%= button_to "Log out", session_url(current_session), method: :delete %>
<% else %>
<%= link_to "Sign in", new_session_url %>
or
<%= link_to "Sign up", new_user_url %>
<% end%>

<% if flash.now[:errors] %>
  <ul>
  <% flash.now[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

</header>
<%= yield %>

<footer>
  <%= link_to "See Who's Touring", bands_url %>
</footer>
</body>
</html>